.blog {
  padding: 40px 0;
  &__heading {
    text-align: center;
    color: $colorBlackText;
    font-family: $fontBoldGoogle;
    font-size: 52px;
  }
  &__intro {
    margin: 15px 0 30px 0;
  }
  &__item {
    position: relative;
  }
  &__item-img {
    position: relative;
    & img {
      border-radius: 50%;
      max-width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: .3s all ease;
      background: -moz-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
      background: -webkit-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
      background: -o-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
      background: -ms-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
      background: linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
    }
  }
  &__item-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    will-change: transform;
    transition: .3s all ease;
    text-align: center;
    & h2 {
      font-size: 22px;
      & a {
        color: $colorWhite;
      }
    }
  }
  &__button-all-article {
    margin: 45px 15px;
    overflow: hidden;
    text-align: center;
  }
  &__btn {
    position: relative;
    display: inline-block;
    min-width: 240px;
    padding: 10px 19px;
    font-size: 18px;
    border-radius: 30px;
    font-family: $fontBoldGoogle;
    //text-transform: uppercase;
    transition: .3s ease-out;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 1000%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:before {
      right: 110%;
    }
    &:after {
      left: 110%;
    }
    &_blue {
      color: #fff;
      background-color: #2f6890;
      border-color: #2f6890;
      &:hover, &:focus, &:active {
        color: #fff;
        background-color: #1c3e56;
        border-color: #1c3e56;
      }
    }
  }

}



@media (min-width: 1200px) {
  .blog__item .blog__item-img:before,
  .blog__item .blog__item-heading {
    opacity: 0;
    visibility: hidden;
  }
  .blog__item:hover .blog__item-img:before,
  .blog__item:hover .blog__item-heading {
    opacity: 1;
    visibility: visible;
  }
}