.categories-tours {
  padding: 40px 0;
  &__wrapper-item {
    & > [class*='col'] {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__item-description {
    margin: 30px 0;
    font-family: $fontRegularGoogle;
  }
  &__item-heading {
    font-size: 27px;
    font-family: $fontBoldGoogle;
  }
  &__item-button {
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__item-btn {
    display: inline-block;
    position: relative;
    min-width: 160px;
    padding: 10px 19px;
    font-size: 18px;
    border-radius: 30px;
    font-family: $fontBoldGoogle;
    transition: .3s ease-out;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 1000%;
      border: 1px solid rgba(255, 255, 255, 0.4);
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:before {
      right: 110%;
    }
    &:after {
      left: 110%;
    }
    &_primary {
      background-color: #41d0d9;
      border-color: #41d0d9;
      &:hover, &:focus, &:active {
        color: #fff;
        background-color: #22a3ab;
        border-color: #22a3ab;
      }
    }
  }
}
.categories-tours__item {
  position: relative;
  display: block;
}

.categories-tours__item .categories-tours__item-img-wrap {
  position: relative;
  display: inline-block;
}

.categories-tours__item .categories-tours__item-img-wrap, .categories-tours__item .categories-tours__item-img-wrap img {
  width: 100%;
}

.categories-tours__item .categories-tours__item-img-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 104, 144, 0.7) url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".20" >\
            <rect x="50" width="50" height="50" />\
            <rect y="50" width="50" height="50" />\
            </svg>');
  background-size: 2px 2px;;
}

.categories-tours__item .categories-tours__item-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
  will-change: transform;
}

.categories-tours__item .categories-tours__item-body * {
  color: #fff;
}

@media (min-width: 992px) {
  .categories-tours__item .categories-tours__item-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1200px) {
  .categories-tours__item .categories-tours__item-body {
    padding-left: 85px;
    padding-right: 85px;
  }
}

@media (min-width: 1200px) {
  .categories-tours__item .categories-tours__item-body, .categories-tours__item .categories-tours__item-img-wrap:before {
    opacity: 0;
    transition: .3s all ease;
  }
  .categories-tours__item .categories-tours__item-img-wrap:before {
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
  }
  .categories-tours__item:hover .categories-tours__item-body, .categories-tours__item:hover .categories-tours__item-img-wrap:before {
    opacity: 1;
  }
  .categories-tours__item:hover .categories-tours__item-img-wrap:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible;
  }
}

.categories-tours__item-img-wrap, .categories-tours__item-img-wrap img {
  height: auto;
  min-height: 350px;
}

.categories-tours__item-body, .categories-tours__item-img-wrap:before {
  opacity: 1;
}

.categories-tours__item-img-wrap:before {
  transform: scale(1);
  visibility: visible;
}

@media (min-width: 1200px) {
  .categories-tours__item-body, .categories-tours__item-img-wrap:before {
    opacity: 1;
  }
  .categories-tours__item-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}