.content {
  padding: 60px 0;
  &_category {
    padding: 60px 0 0 0;
    text-align: center;
  }
  &_tour {
    text-align: center;
  }
  & a {
    color: #41d0d9;
    transition: .3s all ease;
    &:hover {
      color: #22a3ab;
    }
  }
}