
/* cyrillic */
@font-face {
  font-family: 'ComfortaaLightGoogle';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ComfortaaLightGoogle.eot");
  src: local('Comfortaa Light'), local('Comfortaa-Light'), url("../fonts/ComfortaaLightGoogle.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaLightGoogle.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'ComfortaaLightGoogle';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ComfortaaLightGooglelatin.eot");
  src: local('Comfortaa Light'), local('Comfortaa-Light'), url("../fonts/ComfortaaLightGooglelatin.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaLightGooglelatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: 'ComfortaaRegularGoogle';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ComfortaaRegularGoogle.eot");
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url("../fonts/ComfortaaRegularGoogle.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaRegularGoogle.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'ComfortaaRegularGoogle';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ComfortaaRegularGooglelatin.eot");
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url("../fonts/ComfortaaRegularGooglelatin.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaRegularGooglelatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: 'ComfortaaBoldGoogle';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ComfortaaBoldGoogle.eot");
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url("../fonts/ComfortaaBoldGoogle.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaBoldGoogle.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'ComfortaaBoldGoogle';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ComfortaaBoldGooglelatin.eot");
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url("../fonts/ComfortaaBoldGooglelatin.eot?#iefix")format("embedded-opentype"), url(../fonts/ComfortaaBoldGooglelatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
  font-family: "ComfortaaRegular";
  src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot");
  src: url("../fonts/ComfortaaRegular/ComfortaaRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ComfortaaRegular/ComfortaaRegular.woff") format("woff"),
  url("../fonts/ComfortaaRegular/ComfortaaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaLight";
  src: url("../fonts/ComfortaaLight/ComfortaaLight.eot");
  src: url("../fonts/ComfortaaLight/ComfortaaLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ComfortaaLight/ComfortaaLight.woff") format("woff"),
  url("../fonts/ComfortaaLight/ComfortaaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaBold";
  src: url("../fonts/ComfortaaBold/ComfortaaBold.eot");
  src: url("../fonts/ComfortaaBold/ComfortaaBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ComfortaaBold/ComfortaaBold.woff") format("woff"),
  url("../fonts/ComfortaaBold/ComfortaaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}