@import "bootstrap";
@import "variables";

body {
  font-size: 18px;
  font-family: $fontRegularGoogle;
  color: $colorGrayText;
}
a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.page {
  overflow: hidden;
  background-color: #fff;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-middle {
  vertical-align: middle;
}
@import "slick";
@import "timecircle";
@import "photoswipe";
@import "photogallery";
@import "datepiker";
@import "pagination";
@import "search";
@import "owl";
@import "animate";
@import "swiper";
@import "header";
@import "menu";
@import "breadcrumbs";
@import "content";
@import "ourteam";
@import "reviews-three";
@import "tours";
@import "reservationtours";
@import "reservation";
@import "slider";
@import "about";
@import "categorytours";
@import "tour";
@import "ourservices";
@import "reviews";
@import "blog";
@import "blogpage";
@import "bigbg";
@import "reservation";
@import "footer";

@import "scrolltotop";
@import "mediaqueries";