@import "variables";

body {
  font-size: 18px;
  font-family: $fontRegularGoogle;
  color: $colorGrayText;
}
a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.page {
  overflow: hidden;
  background-color: #fff;
}
@import "header";
@import "menu";
@import "slick";
@import "owl";
@import "animate";
@import "slider";
@import "about";
@import "categorytours";
@import "ourservices";
@import "reviews";

@import "scrolltotop";
@import "mediaqueries";