@import "bootstrap";
@import "variables";

body {
  font-size: 18px;
  font-family: $fontRegularGoogle;
  color: $colorGrayText;
}
a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.page {
  overflow: hidden;
  background-color: #fff;
}
@import "slick";
@import "owl";
@import "animate";
@import "header";
@import "menu";
@import "breadcrumbs";
@import "content";
@import "ourteam";
@import "reviews-three";
@import "tours";
@import "reservationtours";
@import "reservation";
@import "slider";
@import "about";
@import "categorytours";
@import "ourservices";
@import "reviews";
@import "blog";
@import "bigbg";
@import "reservation";
@import "footer";

@import "scrolltotop";
@import "mediaqueries";