@media only screen and (max-width : 1200px) {

}


@media only screen and (max-width : 992px) {
  .logo-header {
    width: 110px;
  }
}


@media only screen and (max-width : 768px) {
  .slider__button {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width : 480px) {

}


@media only screen and (max-width : 375px) {
  .categories-tours__item-heading {
    font-size: 25px;
  }
}


@media only screen and (max-width : 320px) {


}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}


@media only screen and (min-width : 1200px) {

}


@media only screen and (min-width : 992px) {
  .slider__buttons {
    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      width: 1000%;
      border: 1px solid rgba(255, 255, 255, 0.4);
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:after {
      left: 85%;
    }
    &:before {
      right: 84%;
    }
  }
  .reveal-md-inline-block {
    display: inline-block;
  }
  .reveal-md-block {
    display: block !important;
  }

}


@media only screen and (min-width : 768px) {

}


@media only screen and (min-width : 480px) {

}