@media only screen and (max-width : 1200px) {
  .footer__contacts-description {
    font-size: 14px;
  }
  .footer__letter-description {
    font-size: 14px;
  }
  .breadcrumbs {
    //height: 400px;

    &__bg {
      padding-top: 200px;
    }
  }
}


@media only screen and (max-width : 992px) {
  .breadcrumbs {
    height: 200px;

    &__bg {
      display: flex;
      align-items: center;
      padding-top: 0;
    }
  }
  .logo-header {
    width: 110px;
  }
  .footer__logo {
    width: 270px;
    margin: 0 auto;
  }
  .footer__logo:before {
    top: 27px;
    left: 84px;
  }
  .footer__copyright {
   display: none;
  }
  .footer__letter-description {
    display: none;
  }
}


@media only screen and (max-width : 768px) {
  .breadcrumbs__heading {
    font-size: 32px;
  }
  .tour-slider {
    &__caption {
      width: 100%;
    }
  }
  .slider {
    &__caption {
      width: 100%;
    }
  }
  .reservation-tours__heading {
    font-size: 24px;
  }
  .reservation-tours__description{
    display: none;
  }
  .slider__button {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width : 480px) {
  .our-team__heading {
    font-size: 32px;
  }
  .reviews {
    &__item {
      padding: 0;
    }
    &__heading {
      font-size: 36px;
    }
  }
  .reviews-three {

    &__heading {
      font-size: 36px;
    }
  }
  .reservation {
    &__heading {
      font-size: 32px;
    }
  }
  .reservation-tours {
    &__btn {
      font-size: 15px;
    }
  }

  .reservation__btn {
    font-size: 15px;
  }
  .footer__letter-heading {
    margin: 20px 0;
  }
  .slider {

    &__buttons {
      position: relative;
      overflow: hidden;
      margin-top: 25px;
    }
    &__description {
      font-size: 16px;
    }
    &__heading {
      font-size: 32px;
    }
  }

  .breadcrumbs {

    &__heading {
      font-size: 24px;
    }
    &__breadcrumb {
      display: none;
    }
  }
  .tour-slider {

    &__heading {
      font-size: 24px;
    }
    &__breadcrumb {
      display: none;
    }
  }

}


@media only screen and (max-width : 375px) {
  .categories-tours__item-heading {
    font-size: 25px;
  }
}


@media only screen and (max-width : 320px) {


}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}


@media only screen and (min-width : 1200px) {

}


@media only screen and (min-width : 992px) {
  .slider__buttons {
    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      width: 1000%;
      border: 1px solid rgba(255, 255, 255, 0.4);
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:after {
      left: 85%;
    }
    &:before {
      right: 84%;
    }
  }
  .reveal-md-inline-block {
    display: inline-block;
  }
  .reveal-md-block {
    display: block !important;
  }

}


@media only screen and (min-width : 768px) {

}


@media only screen and (min-width : 480px) {

}