.our-team {
  padding: 20px 0 60px 0;
  &__wrapper-item {
    & > [class*='col'] {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__item {
    position: relative;
    text-align: center;
    color: $colorWhite;
  }

  &__item-img-wrap {
    position: relative;
  }

  &__item-img-wrap {
    & img {
      width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(37, 83, 116, 0.6) url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".20" >\
            <rect x="50" width="50" height="50" />\
            <rect y="50" width="50" height="50" />\
            </svg>');
      background-size: 2px 2px;
    }
  }

  &__item-content {
    position: absolute;
    left: 50%;
    bottom: 35px;
    width: 100%;
    padding: 0 15px;
    transform: translateX(-50%);
  }
  &__heading {
    font-family: $fontBoldGoogle;
    text-align: center;
    color: $colorBlackText;
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__item-content-heading {
    font-family: $fontBoldGoogle;
    font-size: 24px;
    margin: 15px 0;
  }
  &__item-content-description {
    margin: 15px 0;
  }
  &__item-content-button {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__item-content-btn {
    position: relative;
    min-width: 160px;
    padding: 10px 19px;
    font-size: 14px;
    border-radius: 30px;
    font-family: $fontBoldGoogle;
    transition: .3s ease-out;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #41d0d9;
    white-space: nowrap;
    user-select: none;
    color: #fff;
    background-color: #41d0d9;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 1000%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:before {
      right: 110%;
    }
    &:after {
      left: 110%;
    }
    &:hover, &:active, &:focus {
      color: #fff;
      background-color: #22a3ab;
      border-color: #22a3ab;
    }
  }

}


@media (min-width: 1200px) {
  .our-team__item {
    overflow: hidden;
  }
  .our-team__item .our-team__item-content {
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    transition: .3s all ease;
  }
  .our-team__item .our-team__item-img-wrap:before {
    opacity: 0;
    transition: .3s opacity ease;
  }
  .our-team__item:hover .our-team__item-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .our-team__item:hover .our-team__item-img-wrap:before {
    opacity: 1;
  }
}

@media (min-width: 1800px) {
  .our-team__item .our-team__item-content {
    padding-left: 100px;
    padding-right: 100px;
  }
}