.slider {
  position: relative;
  text-align: center;
  overflow: hidden;
  &__container {
    height: 420px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  &__item {
    background-position: center;
    background-size: cover;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(22, 88, 139, 0.5);
    }
  }
  &__caption {
    position: absolute;
    //width: 100%;
    top: 50%;
    left: 50%;
    z-index: 1;
    //margin-top: -20px;
    transform: translate(-50%, -50%);
  }
  &__bottom-panel {
    height: 33px;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 1;
    transform: translateX(-50%);
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 10000%;
      height: 100%;
      background: #fff;
      //margin-bottom: -1px;
    }
    &:before {
      right: 100%;
      margin-right: -2px;
    }
    &:after {
      left: 100%;
      margin-left: -2px;
    }
  }
  &__bottom-panel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    transform: translate(-50%, -50%);
    will-change: transform;
    cursor: pointer;
    color: $colorWhite;
  }


  &__heading {
    font-size: 42px;
    font-family: $fontBoldGoogle;
    color: #fff;
    margin: 20px 0;
    //text-transform: capitalize;
  }
  &__description {
    font-size: 24px;
    font-family: $fontBoldGoogle;
    color: #fff;
  }
  &__buttons {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
  }
  &__button {
    display: inline-block;
    margin-left: 10px;
    //margin-top: 10px;
    min-width: 225px;
    border-radius: 30px;
    padding: 10px 19px;
    font-size: 15px;
    font-family: $fontBoldGoogle;
    white-space: nowrap;
    vertical-align: middle;
    transition: .3s ease-out;
    text-transform: uppercase;
    border: 1px solid transparent;
    &_primary {
      color: #fff;
      background-color: #41d0d9;
      border-color: #41d0d9;
      &:hover, &:focus, &:active {
        color: #fff;
        background-color: #22a3ab;
        border-color: #22a3ab;
        outline: none;
      }
    }
    &_white {
      color: #41d0d9;
      background-color: #fff;
      border-color: #fff;
      &:hover, &:active, &:focus {
        color: #fff;
        background-color: #adadad;
        border-color: #adadad;
        outline: none;
      }
    }
  }
  &__bottom-panel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    transform: translate(-50%, -50%);
    will-change: transform;
    cursor: pointer;
    color: $colorWhite;
  }

}

@media (min-width: 768px) {
  .slider__container {
    height: 480px;
  }
}

@media (min-width: 992px) {
  .slider__container {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .slider__container {
    height: 700px;
  }
}

@media (min-width: 1200px) and (max-height: 700px) {
  .slider__container {
    height: 600px;
  }
}

