.tours {
  padding: 30px 0 90px 0;
  &__item {
    position: relative;
  }
  &__heading {
    text-align: center;
    color: $colorBlackText;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 32px;
    font-family: $fontBoldGoogle;
  }
  &__item-img {
    position: relative;
    transition: .3s all ease;
    & img {
      border-radius: 50%;
      max-width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: .3s all ease;
      background: rgba(37, 83, 116, 0.3) url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".20" >\
            <rect x="50" width="50" height="50" />\
            <rect y="50" width="50" height="50" />\
            </svg>') ;
      background-size: 2px 2px;

    }
  }
  &__item-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    will-change: transform;
    transition: .3s all ease;
    text-align: center;
    & h2 {
      font-size: 22px;
      font-family: $fontBoldGoogle;
      & a {
        color: $colorWhite;
      }
    }
  }
  &__item-price {
    font-size: 24px;
    font-family: $fontBoldGoogle;
    color: $colorWhite;
    transition: .5s all ease;
  }
}

@media (min-width: 1200px) {
  .tours__item .tours__item-price {
    opacity: 0;
    visibility: hidden;
  }
  .tours__item .tours__item-img:before,
  .tours__item .tours__item-heading {
    opacity: 1;
    visibility: visible;
  }
  .tours__item:hover .tours__item-img:before,
  .tours__item:hover .tours__item-heading,
  .tours__item:hover .tours__item-price {
    opacity: 1;
    visibility: visible;
  }
  .tours__item:hover .tours__item-img:before{
    opacity: 1;
    visibility: visible;
    background: -moz-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
    background: -webkit-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
    background: -o-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
    background: -ms-linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
    background: linear-gradient(180deg, rgba(47, 104, 144, 0.8) 20%, rgba(64, 202, 213, 0.8) 80%);
  }
}