$colorWhite: #fff;
$colorBlue: #063A5E;
$colorGrayText: #adadad;
$colorBlackText: #282828;
$fontLight: ComfortaaLight;
$fontRegular: ComfortaaRegular;
$fontBold: ComfortaaBold;

$fontBoldGoogle: ComfortaaBoldGoogle;
$fontRegularGoogle: ComfortaaRegularGoogle;
$fontLightGoogle: ComfortaaLightGoogle;
